
.linksheader {}
.linksheader a {
	display: inline-block;
	padding: 0 0.5em;
	margin: 0 0.1em;
	border: 1px solid var(--maincolor);
	color: var(--defaultfontcolor);
	border-radius: 5px;
	background-color: var(--backgroundcolor);
}


.linksheader a:hover {
	cursor: pointer;
}

.linksheader .button {
	display: inline-block;
	padding: 0 0.5em;
	margin: 0 0.1em;
	border: 1px solid var(--maincolor);
	color: var(--defaultfontcolor);
	border-radius: 5px;
	background-color: var(--backgroundcolor);
}

.linksheader .button .grabbable {
	cursor: grab;
}


.linksheader .add {
	cursor: pointer;
}

.linksheader .ghost {
	opacity: 0.3;
}

.linksheader .drop {
	cursor: cell;
	animation: glow 5s infinite;
}

.linksheader .subbuttonremove{
	cursor: pointer;
	margin-left: 0.5em;
	background-color: var(--buttonbackgrounddanger);
	padding-left: 0.3em;
	border: 1px solid var(--maincolor);
}

.linksheader .subbuttonremove:hover {
	background-color: var(--buttonbackgroundwarn);
}

.linksheader [class^="iconoir-"]::before,
.linksheader [class*=" iconoir-"]::before {
	display: inline-block;
	vertical-align: sub;
	margin-right: 5px;
}

@keyframes glow {
	0%{
		box-shadow: 0px 0px 3px 3px #FF9139;
	}
	25%{
		box-shadow: 0px 0px 3px 5px #FFBB41;
	}
	50%{
		box-shadow: 0px 0px 3px 2px #FF9139;
	}
	75%{
		box-shadow: 0px 0px 3px 4px #FFBB41;
	}
	100%{
		box-shadow: 0px 0px 3px 1px #FF9139;
	}
}